.borderLine{
    display: flex;
    border: 1px solid skyblue;
    margin-top: 10px;
}

header{
    display: flex;
    width: 100%;
    height: 100px;
}

main{
    display: flex;
    width:100%;
    height: 100%;
    float: left;
    margin-right: 20;
}

footer{
    display: flex;
    width: 100%;
    height: 100px;
    float: left;
}