.borderLine{
    border: 1px solid skyblue;
    margin-top: 10px;
}
.container {
    display: flex; 
}

header, nav, main, aside, footer {
    flex: 1; 
    margin: 5px;
}

header{
    
    width: 100%;
    height: 100px;
}

main{
    float: left;
    width:49%;
    height: 100%;
}
aside{
    float: left;
    width: 49%;
    height: 100%;
}

footer{
    float: left;
    width: 100%;
    height: 100px;
}
@media (max-width:500px) {
    aside.aside-left{
        display: none; 
    }

    main {
        flex: 2; 
    }
}